li {
    list-style-type: none;
}
/*GLOBAL*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    background: #fff;
}

.container {
    width: 90%;
}

.container-full {
    width: 100%;
}

/*NAV brand*/
nav#nav-head {
    display: flex;
    background: #232f3e;
    height: 60px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.5);
    /*position: relative;*/
    align-items: center;


}
nav#nav-head .brand-logo img {
    height: 50px;
}

nav#nav-head .brand-logo {
    flex: 1;
}
nav#nav-head .brand-logo .image-relative {
    position: relative;
    top: 3px;
    left: 60px;
    width: 70px;
}

nav#nav-head .brand-logo small {
    position: absolute;
    top: 32px;
    left: 65px;

}
nav#nav-head .brand-logo small a {
    color: red;
}
/*NAV*/
nav#nav-head > ul {
    display: flex;
    /*align-items: flex-start;*/
    align-content: flex-end;
    text-align: center;

    flex: 3;
}

nav#nav-head ul > li {
    width: 100px;
    display: block;
    height: 60px;
    line-height: 60px;
}

nav#nav-head ul > li:hover {
    background: rgba(0,0,0,.2);
}

nav#nav-head ul > li a:hover {
    color: aqua;
}

nav#nav-head ul li a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 5px;
    height: 45px;
}
.active-nav {
    border-bottom: aqua solid 3px;
    color: aqua !important;
}
/*DONE MENU LEVEL 1*/

/*==MENU LEVEL 2==*/

nav#nav-head > ul > li {
    position: relative;
}

nav#nav-head > ul > li:hover > ul {
    display: block;
}

nav#nav-head > ul > li > ul {
    position: absolute;
    top: 60px;
    display: none;
}

nav#nav-head > ul > li > ul li {
    display: block;
    background-color: #232f3e;
    width: 200px;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #e21;
}

nav#nav-head > ul > li > ul > li:first-of-type {
    border-top: 5px solid #e21;
}

nav#nav-head > ul > li > ul li:hover {
    background: rgba(0,0,0,.5);
}
nav#nav-head > ul > li > ul li > a {
    border-bottom: none;
    color: black;
    height: 40px;
}

nav#nav-head > ul > li > ul li > a:hover {
    color: deepskyblue;
}

/*==MENU LEVEL 2==*/


/*==MENU LEVEL 3==*/
li.menu-level-3 {
    position: relative;
}

li.menu-level-3 > ul {
    position: absolute;
    top: -5px;
    left: 200px;
    border-left: 2px seagreen solid;
}

li.menu-level-3 > ul > li.list-level-3 {
    border-top: yellow solid 1px !important;
    display: none !important;
}
li.menu-level-3 > ul > li.list-level-3:first-of-type {
    border-top: blue solid 3px !important;
}
li.menu-level-3:hover > ul > li.list-level-3 {
    display:block !important;
}
li.menu-level-3 > ul > li.list-level-3 a {
    color: darkviolet !important;
}
/*==MENU LEVEL 3==*/
